.photo-grid {
  box-sizing: border-box;
  width: 100%;
  padding: 0 48px 12px 48px;
  display: grid;
  grid: auto-flow / repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  justify-content: center;
}
