.lead {
  box-sizing: border-box;
  max-width: 100%;
  padding: 56px 48px 0 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: min(928px, 100%);
    padding: 48px 0 0;
  }
}
