.header {
  box-sizing: border-box;
  width: 100%;
  min-height: 52px;
  padding: 0 48px;
  display: flex;
  justify-content: right;
  align-items: end;
  gap: 18px;
  background: url('../../images/russia_logo.svg') left / contain no-repeat content-box;
}

@media screen and (max-width: 1024px) {
  .header {
    width: min(976px, 100%);
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    min-height: 42px;
    padding: 0 16px;
  }
}
