.lead__caption {
  align-self: start;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    padding-left: max(0px, min(calc(952px - 100vw), 24px));
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}
